/* Fortune Cookie Generator Styles */

html {
    text-align: center;
    padding: 2em;
    font-family: Helvetica;
}

body {
	background-image: url("../img/newspaper.jpg");
}

#fortune-cookie-text {
	font-size: 14px;
	font-weight: 700;
	font-family: 'Roboto', sans-serif;
	color: red;
	position: absolute;
  	top: 400px;
  	left: 515px;
  
}

.napkin {
	position: absolute;
  	top: 40px;
  	left: 450px;
}

.fried-rice {
	position: absolute;
	top: -150px;
	left: -130px;
}

.kung-pao {
	position: absolute;
	top: 500px;
	left: 30px;
}

.sesame-chicken {
	position: absolute;
	top: -160px;
	right: -150px;
}

.fortune-cookie {
	position: absolute;
  	top: 160px;
  	left: 450px;
  	-moz-animation: shake 3s;
    -ms-animation: shake 3s;
    -o-animation: shake 3s;
	-webkit-animation: shake 3s;
    animation: shake 3s;
}

.hand-writing {
	font-family: 'Indie Flower', cursive;
	color: black;
	font-size: 30px;
	position: absolute;
	top: 120px;
	left: 550px;
}

.egg-roll {
	position: absolute;
	top: -35px;
	left: 550px;
}

.chow-mein {
	position: absolute;
	top: 400px;
	left: 850px;

}

.chopstick {
	position: absolute;
	top: 450px;
	left: -450px;
}

.soysauce {
	position: absolute;
	top: 550px;
	left: 690px;
}