/* Fortune Cookie Generator Styles */

html {
    text-align: center;
    padding: 2em;
    font-family: Helvetica;
}

.fortune-cookie-saying-wrapper {
    border: 2px solid #666;
    padding: 1em;
    margin: 1em;
}